{% extends "app/base.html" %}
{% load static %}
<body>
{% block content%}
<div class = "banner">
		<img class="banner" src= "{% static 'IMAGES/Background.jpg' %}" > 
		<div class = "content">
			<h1> ABOUT US </h1>
		<p class = "p1">Welcome to our website! We are a dedicated team committed to providing the best services to our customers. Our mission is to deliver quality and value in everything we do.</p>
        <p class = "p1">Founded in 2018, we have quickly established ourselves as leaders in our industry. Our team is composed of experts in various fields, working together to meet your needs.</p>
        <p class = "p1">Thank you for visiting us, and we look forward to serving you!</p>

		</div>
</div>

{% endblock content%}
</body>