{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<meta charset="UTF-8" />
		<title>L. C. Arabe Realty</title>
        <link rel="icon" href="{% static 'IMAGES/favicon1.ico' %}" type="image/ico">
        <link rel="stylesheet" href={% static 'CSS/base.css' %}>
        
	</head>

	<body>
                <header>    
                    <div class="navbar">
                        <img class="Logo" src= "{% static 'IMAGES/Logo1.png' %}" > 
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        
                    </ul>
                    <ul>
                        <li><a class="login-btn" href="{% url 'login' %}">Login</a></li>
                    </ul>
                    
                        </div>
                </header>

    {% block content%}

    {% endblock content%}

    <footer>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100064045423114" target="_blank">
                <img src="{% static 'IMAGES/facebook-icon.png' %}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="{% static 'IMAGES/instagram-icon.png' %}" alt="Instagram">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="{% static 'IMAGES/twitter-icon.png' %}" alt="Twitter">
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <img src="{% static 'IMAGES/youtube-icon.png' %}" alt="YouTube">
            </a>
        </div>
    </footer>
    
    <script src="{% static 'JS/base.js' %}"> </script>
	</body>
</html>
    