{% extends "app/base.html" %}
{% load static %}
<head> 



</head>
<body>
{% block content %}
         
    <div class="container text-center gallery">
      <div class="row">
          <div class="col">
              <img class="picture1" src="{% static 'IMAGES/windlogo.png' %}" alt="Windlogo">
        </div>

          <div class="col">
              <img class="picture1" src="{% static 'IMAGES/goldlogo.png' %}" alt="goldlogo">
        </div>
      </div>
      <h3>WIND RESIDENCES</h3>
      <div class="row">
        
          <div class="col1">
              <img class="picture" src="{% static 'IMAGES/wind3.jpg' %}" alt="Wind 3">
        </div>

          <div class="col1">
              <img class="picture" src="{% static 'IMAGES/wind4.jpg' %}" alt="Wind 4">
        </div>
          
          <div class="col1">
              <img class="picture" src="{% static 'IMAGES/wind5.jpg' %}" alt="Wind 5">
        </div>
      </div>
      <h3>GOLD RESIDENCES</h3>
      <div class="row">
        
        <div class="col2">
          <img class="picture2" src="{% static 'IMAGES/gold1.png' %}" alt="gold 1">
      </div>

        <div class="col2">
          <img class="picture2" src="{% static 'IMAGES/gold2.png' %}" alt="gold 2">
      </div>

      <div class="col2">
        <img class="picture2" src="{% static 'IMAGES/gold3.png' %}" alt="gold 3">
    </div>
      </div>
  </div>

              

            
{% endblock content %}
</body>